/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Noto+Sans+Mono&family=Roboto&display=swap');

/* #region -----repeated----- */
* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}
body {
    background: #000;
}
.wrapper {
    /* width: 100vw; */
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(211deg, rgba(0,0,0,1) 0%, rgba(19,0,36,1) 35%, rgb(7, 150, 179) 90%); 
}
.sticky {
    position: fixed;
    top: 0;
    max-width: 1200px;
 }
.btn {
    color: #fff;
    padding: 1rem 2rem;
    border: 1px #fff solid;
    background-color: transparent;
    font-size: 1.1rem;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 1.4rem;
    transition: all 1s ease;
    cursor: pointer;
}
.btn:hover {
    background-color: #130024;
    transition: all 1s ease;
}
.paragraph {
    padding: 1rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4rem;
}
main > * {
    padding: 2rem 1rem;
}
/* #endregion */

/* #region -----index.html,booking.html,about.html - header----- */
.header {
    padding: 0;
}
.header__logo {
    background-image: url('../img/photos/07-night.jpg');
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header__logo-img {
    height: 16rem;
}
.header__nav {
    overflow: hidden;
    background-color: #000;
    padding: .5rem 0 .5rem 0;
    width: 100%;
}
.header__links {
    font-family:'Noto Sans Mono', monospace;
    font-size: 1.35rem;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.header__link a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    text-transform: uppercase;
}
.header__link a:hover, .header__link--active a {
    color: #fff;
}
/* #endregion */

/* #region -----index.html - intro----- */
.intro__hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
}
.intro__book-now {
    background-image: url('../img/photos/01-night.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.intro__heading {
    text-align: center;
    max-width: 80%;
    color: #fff;
    font-size: 3rem;
    font-family: 'Gemunu Libre', sans-serif;
    padding-bottom: 1.5rem;
}
.intro__text {
    color: #fff;
    width: 80%;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
    text-align: center;
    padding-bottom: 1rem;
}
/* #endregion */

/* #region -----index.html - rooms----- */
.rooms-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rooms-info__top {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.rooms-info__heading {
    color: #fff;
    font-size: 3rem;
    font-family: 'Gemunu Libre', sans-serif;
    padding-bottom: 1.5rem;
}
.rooms-info__text {
    color: #fff;
    width: 80%;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
    text-align: center;
}
.rooms-info__cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
}
.rooms-info__card {
    /* margin: 1rem; */
    color: #fff;
    background-image: url('../img/photos/05-night.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.rooms-info__card:nth-child(even) {
    background-image: url('../img/photos/06-night.jpg');
}
.rooms-info__card-heading {
    flex: 1;
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Gemunu Libre', sans-serif;
}
.rooms-info__card-text {
    flex: content;
    font-family: "Roboto", sans-serif;
}

/* #endregion */

/* #region -----index.html,booking.html,about.html - footer----- */
.footer {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    background-color: rgba(19,0,36,1);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__logo {
    display: flex;
    align-self: center;
}
.footer__logo-img {
    height: 7rem;
}
.footer__text {
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
}
/* #endregion */

/* #region -----booking.html - date-container----- */
.booking__date-container {
    color: #fff;
    /* background-color: rgba(19,0,36,1); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.booking__date-heading {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
    font-family: "Gemunu Libre", sans-serif;
}
.booking__date-cards {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
}
.booking__date-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}
.booking__date-card-title {
    color: #fff;
    padding: .2rem 1rem;
    font-size: .8rem;
    background-color: red;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.booking__date-card-date {
    padding: 1rem;
    font-size: 1.5rem;
    color: #000;
    font-family: "Roboto", sans-serif;
}
.booking__days-and-rooms{
    text-align: center;
    flex-basis: 100%;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}
.booking-available__heading {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
    font-family: "Gemunu Libre", sans-serif;
    color: #fff;
}
.booking-available__rooms {
    display: grid;
    grid-template-columns: 1fr;
}
.booking-available__room-info {
    text-align: center;
}
.booking-available__room-title, .booking-available__room-price {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: "Gemunu Libre", sans-serif;
    color: #fff;
}
.booking-available__room-price {
    font-size: 1.5rem;
}
.booking-available__room-description {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
    color: #fff;
}
.booking-available__room-img img {
    width: 100%;
}
.booking-available__room-btn {
    margin: 1rem 0 1rem 0;
}
/* #endregion */

/* #region -----about.html - main----- */
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us__container:nth-child(2) {
    background-image: url("../img/photos/07-night.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.about-us__heading {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
    font-family: "Gemunu Libre", sans-serif;
    color: #fff;
}
.about-us__paragraph {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
    color: #fff;
    text-align: center;
}
.about-us__figure-img {
    clip-path: circle(7rem);
    width: 100%;
}
/* #endregion */

/* #region -----index.htlm,booking.html,about.html - media queries------ */
@media screen and (min-width: 700px) {
    .header__links {
        width: 70%;
        margin: 0 auto;
    }
    /* ----- index.html ----- */
    .intro__hero {
        flex-direction: column;
        align-content: center;   
    }
    .intro__text {
        width: 50%;
    }
    .intro__book-now {
        height: 345px;
    }
    .rooms-info__cards {
        grid-template-columns: 1fr 1fr;
    }
    .rooms-info__card-heading {
        font-size: 3rem;
    }
    .rooms-info__card-text {
        font-size: 1.2rem;
    }
    /* ----- boking.html ----- */
    .booking {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .booking-available {
        padding: 2rem 3rem;
    }
    .booking-available__rooms {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .booking-available__room {
        outline: 1px solid #fff;
    }
    /* ----- about.html ----- */
    .about-us__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding: 6rem 0;
    }
    .about__us__container--flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-us__figure-img {
        clip-path: circle(10rem);
    }
    .about-us__paragraph {
        width: 80%;
    }
}
/* #endregion */